@import "bourbon/bourbon";

$visual-grid: false;
$visual-grid-color: #CECECE;
$visual-grid-opacity: 0.2;
$max-width: 100%;

@import "neat/neat";

@import 'core/reset',
		'core/global',
		'core/typography',
		'block/header',
		'block/feed',
		'block/detail';