html {
    font-size: 62.5%;
    font-family: "proxima-nova", sans-serif;
}

/*
$fontbase = 16
$line-height-base = 26
*/

h1,
h2 {
    font-size: 2.6rem;
    line-height: 1; /* $line-height-base ÷ 26 */
}

h3,
h4 {
    font-size: 1.8rem;
    line-height: 1.444 /* $line-height-base ÷ 18 */
}

h1, h2, h3, h4 {
	font-family: "brandon-grotesque", sans-serif;
	text-transform: uppercase;
}

body {
	font-size: 1.6rem;
    line-height: 1.625; /* $line-height-base ÷ $fontbase */
}

.font--light {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: $blueIce;
	&:visited {
		color: $blueIce;
	}
}